In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [3]:
df=sns.load_dataset('penguins')

In [5]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [7]:
df.tail()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

## Here we have to check whether the data set contains null values if it has null values we may get error so we have to remove the null values or we can fill it with avg value

In [9]:
df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [11]:
df.dropna(inplace=True)

In [13]:
df.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [15]:
df.shape

(333, 7)

In [17]:
df.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [19]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

In [33]:
print(df['island'].unique())

['Torgersen' 'Biscoe' 'Dream']

In [35]:
pd.get_dummies(df['sex']).head()

   Female   Male
0   False   True
1    True  False
2    True  False
4    True  False
5   False   True

In [37]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

In [39]:
df['sex']=df['sex'].str.strip().str.capitalize().map({"Male":1,"Female":0})

In [41]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,1
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,0
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,0
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,1

In [43]:
df['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [45]:
df['species']=df['species'].map({'Adelie':0,'Chinstrap':1,'Gentoo':2})

In [47]:
df['island'].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [49]:
df['island']=df['island'].map({'Torgersen':0,'Biscoe':1,'Dream':2})

In [51]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,0,39.1,18.7,181.0,3750.0,1
1,0,0,39.5,17.4,186.0,3800.0,0
2,0,0,40.3,18.0,195.0,3250.0,0
4,0,0,36.7,19.3,193.0,3450.0,0
5,0,0,39.3,20.6,190.0,3650.0,1

In [53]:
x=df.drop(columns=['species'])

In [55]:
y=df['species']

In [57]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [59]:
print(x_train.shape)
print(x_test.shape)
print(y_test.shape)
print(y_train.shape)

(233, 6)
(100, 6)
(100,)
(233,)

In [61]:
from sklearn.ensemble import RandomForestClassifier

In [73]:
model=RandomForestClassifier(n_estimators=100,random_state=42,criterion='entropy')

In [75]:
model.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', random_state=42)

In [79]:
y_pred=model.predict(x_test)

In [83]:
y_pred[:10]

array([0, 2, 0, 1, 0, 2, 2, 1, 1, 1], dtype=int64)

In [85]:
from sklearn.metrics import accuracy_score,classification_report

In [87]:
acc=accuracy_score(y_test,y_pred)

In [91]:
print(acc*100)

98.0

In [93]:
classifi=classification_report(y_test,y_pred)

In [95]:
print(classifi)

              precision    recall  f1-score   support

           0       0.98      0.98      0.98        48
           1       0.94      0.94      0.94        18
           2       1.00      1.00      1.00        34

    accuracy                           0.98       100
   macro avg       0.97      0.97      0.97       100
weighted avg       0.98      0.98      0.98       100

In [97]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,0,39.1,18.7,181.0,3750.0,1
1,0,0,39.5,17.4,186.0,3800.0,0
2,0,0,40.3,18.0,195.0,3250.0,0
4,0,0,36.7,19.3,193.0,3450.0,0
5,0,0,39.3,20.6,190.0,3650.0,1

In [135]:
x_names=x_test.columns
x_=[2,45.6,20.7,191.3,3534,1]
x__=pd.DataFrame([x_],columns=x_names)
m=model.predict(x__)
if(m==0):
    print("It belongs to Adelie species")
elif(m==1):
    print("It belongs to Chinstrap species")
else:
    print("It belongs to Gentoo species")

It belongs to Chinstrap species

[0]